/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #ddd }  /* plain text */
pre .pln { color: #ffffff }  /* plain text */

@media screen {
  pre .str { color: #ffe7b6 }  /* string content */
  pre .typ { color: #9ad452 }  /* a type name */
  pre .lit { color: #ffe7b6 }  /* a literal value */
  pre .pun, .opn, .clo { color: #ddd }

  .str { color: #842 }  /* string content */
  .kwd { color: #ffaa00 }  /* a keyword */
  .com { color: #888 }  /* a comment */
  .typ { color: #693 }  /* a type name */
  .lit { color: #875 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #333 }
  .tag { color: #ffaa00 }  /* a markup tag name */
  .atn { color: #9ad452 }  /* a markup attribute name */
  .atv { color: #ffe7b6 }  /* a markup attribute value */
  .dec, .var { color: #aaa }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 1em 0 1em 1em;
  background-color: #1a1a1a;
  border: 1px solid #444;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #222222 }
